/////////////////////////////////////////////////
// MENU BUTTON
.menu-btn {
    position: fixed;
    z-index: 3;
    right: 2rem;
    top: 2rem;
    cursor: pointer;
    transition: all 0.3s ease;

    .btn-line {
        width: 2rem;
        height: 3px;
        margin-bottom: 6px;
        background: black;
        transition: all 0.5s ease;

    }

    // Rotate Into X With Menu Lines
    &.close {
        transform: rotate(180deg) translate(-1px, 8px);


        .btn-line {

            // Line 1 - Rotate
            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
                background: $color-silver-1;
            }

            // Line 2 - Hide
            &:nth-child(2) {
                transform: scale(0);
            }

            // Line 3 - Rotate
            &:nth-child(3) {
                transform: rotate(-45deg) translate(8px, -8px);
                background: $color-silver-1;
            }
        }
    }
}

/////////////////////////////////////////////////
// MENU
.menu {
    float: left;
    z-index: 2;
    // position: relative;
    position: fixed;
    top: 0;
    height: 0vh;
    width: 100vw;
    // opacity: 0;
    visibility: hidden;
    // text-align: center;
    overflow: hidden;
    font-weight: 300;
    font-size: 110%;
    background: linear-gradient(to right bottom, $color-secondary-2, $color-secondary-1);



    transition: .3s all ease-out;



    &.show {

        height: 40vh;
        margin: 0;
        width: 100%;
        margin: 0;
        opacity: 1;
        visibility: visible;
    }

    &-nav {
        margin: 0;
        padding: 0;
        padding-top: 5rem;
        width: 100%;

        .nav-item {
            overflow: hidden;
            padding: .5rem 2.25rem;
            text-transform: uppercase;
            letter-spacing: 3px;

            .nav-link {
                display: inline-block;
                color: $color-silver-1;
                transform: translateY(200%);
            }
        }



        &.show {
            // transition: all 1.3s ease;
            // Slide in from top
            transform: translate3d(0, 0, 0);


            .nav-item {
                // transition: all 1.3s ease;
                overflow: hidden;

                transition: all .3s ease;

                &:hover {
                    // transition: all 1.3s ease;

                    border-left: 15px solid white;
                    background-color: rgba(255, 255, 255, 0.1);
                    transition-delay: 0s;
                    // width: 20%;

                }

            }

            @for $x from 1 through 4 {
                :nth-child(#{$x}) .nav-link {

                    transform: translateY(0);
                    transition: all 0.3s ease;
                    transition-delay: $x * 75ms;
                    transition-property: transform;

                }
            }

        }



    }




}

a {
    color: black;
    text-decoration: none;

}

li {
    list-style: none;
}