// Animation Mixins
@mixin easeOut1 {
    transition: all 0.3s ease-out;
    // transition-property: opacity
}

@mixin easeOut2 {
    transition: all 0.5s ease-out;
}

// Media Query Mixins
@mixin mediaSm {
    @media screen and (max-width:500px) {
        @content;
    }
}

@mixin mediaMd {
    @media screen and (min-width:768px) {
        @content;
    }
}

@mixin mediaLg {
    @media screen and (max-width:769px) and (max-width: 1170px) {
        @content;
    }
}

@mixin mediaXl {
    @media screen and (min-width:1171px) {
        @content;
    }
}