// COLORS
$color-primary-1: #FDEDEC;

$color-secondary-1: #5D6D7E;
$color-secondary-2: #283747;
$color-secondary-3: #2980B9;
$color-secondary-4: #FEF5E7;


$color-silver-1: #F8F9F9;
$color-silver-2: #F2F3F4;
$color-silver-3: #E5E7E9;